<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, world!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style_create.css">
</head>

<script>

        function makeReview() {
            let title = $('#title').val();
            let season = $('#season').val();
            let area = $('#area').val();
            let keywords = $('#keywords').val();
            let review_text = $('#review_text').val()
            let file = $('#file')[0].files[0];
            let form_data = new FormData();

            $.ajax({
                type: "POST",
                url: "/create",
                data: {title_give:title, season_give:season, area_give:area, keywords_give:keywords, review_text_give:review_text, file_give:file},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            })
        }

</script>

<body>

<div class="wrap">
    <!--Header-->
    <div class="header">
        <!--Site name-->
        <div class="site_name">김르탄의 여행 일지</div>
        <!--Menu-->
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/page">방명록</a></li>
            <li><a href="/create">리뷰 작성</a></li>
        </ul>
    </div>

    <!--Create Post Area-->
    <div class="create-post input-box">
        <!--Input boxes-->
        <input type="text" class="item" placeholder="제목을 입력해주세요" id="title">
        <input type="file" class="item" placeholder="사진을 선택해주세요" id="file">
        <input type="text" class="item" placeholder="계절을 입력해주세요" id="season">
        <input type="text" class="item" placeholder="다녀오신 곳이 어딘가요?" id="area">
        <input type="text" class="item" placeholder="이번 여행 키워드를 적어주세요!" id="keywords">
        <textarea type="text" class="item" placeholder="게시물을 00자 이내로 작성해주세요" id="review_text" maxlength="800"></textarea>
        <button onclick="makeReview()" type="button" class="item" name="button">리뷰 등록</button>
    </div>
    <ul class="comment-section" id="comment-area">
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

</div>
</div>
</body>
</html>