<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, world!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style_home.css">


    <script>

        $(document).ready(function () {
            showReview();
        });

        function showReview() {
            $.ajax({
                type: "GET",
                url: "/home",
                data: {},
                success: function (response) {
                    let reviews = response['all_reviews']
                    for (let i = 0; i < reviews.length; i++) {
                        let title = reviews[i]['title']
                        let review_text = reviews[i]['review_text']
                        let keywords = reviews[i]['keywords']

                        let temp_html = `<div class="block" >
                                            <div class="grid">
                                                <div class="image">
                                                    1 Image
                                                    <img src="">
                                                </div>
                                                <div class="title">
                                                    <p>${title}</p>
                                                </div>
                                                <div class="content">
                                                    <p>${review_text}</p>
                                                </div>
                                                <div class="hash">${keywords}</div>
                                            </div>
                                         </div>`
                        $('#reviews-box').append(temp_html)
                    }
                }
            })
        }

    </script>

</head>


<body>

<div class="wrap">
    <!--Header-->
    <div class="header">
        <div class="site_name">김르탄의 여행 일지</div>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/page">방명록</a></li>
            <li><a href="/create">리뷰 작성</a></li>
        </ul>
    </div>
    <!--Slide-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1591520284162-8e64eceebacf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80"
                     class="d-block w-100" alt="..."></div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1534274867514-d5b47ef89ed7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1340&q=80"
                     class="d-block w-100" alt="..."></div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1594507401118-dc0818b3fd91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1526&q=80"
                     class="d-block w-100" alt="..."></div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--Banner Text-->
    <div class="banner-text-box">
        <div class="intro_text">
            <h1 id="search">김르탄의 여행 일지</h1>
            <h6 class="contents1">여행을 기록하고 공유합니다 :)</h6>
        </div>

        <!--Main Text-->
        <div class="main-text-area" id="reviews-box">
        </div>
        <div class="reviews" id="put-here"></div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                crossorigin="anonymous"></script>

    </div>
</div>
</body>
</html>